# Concurrencia Lineal

In [3]:
from pandas import DataFrame
xn=0
ui=0
xn1=[]
result=[]
aux=0
#datos de ingreso
print("Ingrese los Datos")
print("Variable A : ")
valorA=int(input())
print("Variable C : ")
valorC=int(input())
print("Variable M : ")
valorM=int(input())

variableA=valorA
variableC=valorC
variableM=valorM

print("Semilla : ")
valorsemilla=int(input())
semilla=valorsemilla

print("Cantidad de Itraciones: ")
valoriteraiones=int(input())
iteraciones=valoriteraiones

xn=semilla
#proceso de concurrencia lineal
for i in range(0,iteraciones):
    aux=((variableA*xn)+variableC)%(variableM)
    ui=aux/variableM
    xn=aux
    xn1.append(xn)
    result.append(ui)

    
#tabla de resultados
tabla_result={'Xn':xn1,'Ui':result}
dataframe=DataFrame(tabla_result)
dataframe

Ingrese los Datos
Variable A :
3
Variable C :
5
Variable M :
19
Semilla :
4440
Cantidad de Itraciones:
30

    Xn        Ui
0    6  0.315789
1    4  0.210526
2   17  0.894737
3   18  0.947368
4    2  0.105263
5   11  0.578947
6    0  0.000000
7    5  0.263158
8    1  0.052632
9    8  0.421053
10  10  0.526316
11  16  0.842105
12  15  0.789474
13  12  0.631579
14   3  0.157895
15  14  0.736842
16   9  0.473684
17  13  0.684211
18   6  0.315789
19   4  0.210526
20  17  0.894737
21  18  0.947368
22   2  0.105263
23  11  0.578947
24   0  0.000000
25   5  0.263158
26   1  0.052632
27   8  0.421053
28  10  0.526316
29  16  0.842105